
<div class="uk-grid-collapse" data-uk-grid>
    <div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-middle uk-flex-center" data-uk-height-viewport>
      <div class="uk-width-3-4@s">
        <div class="uk-text-center uk-margin-bottom">
          <a class="uk-logo uk-text-primary uk-text-bold" href="index.html">Kocina</a>
        </div>
        <div class="uk-text-center uk-margin-medium-bottom">
          <h1 class="uk-h2 uk-letter-spacing-small">Create an Account</h1>
        </div>
        <div class="uk-text-center uk-margin">
          <p class="uk-margin-remove">Or use your email for registration:</p>
        </div>
        <form class="uk-text-center" [formGroup]="forme" (ngSubmit)="onSubmit()">
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="nomUtilisateur">First name</label>
            <input id="nomUtilisateur" formControlName="nomUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="text" placeholder="First name">
          </div>
        
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="prenomUtilisateur">Last name</label>
            <input id="prenomUtilisateur" formControlName="prenomUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="text" placeholder="Last name">
          </div>
        
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="loginUtilisateur">Username</label>
            <input id="loginUtilisateur" formControlName="loginUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="text" placeholder="Username">
          </div>
        
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="mailUtilisateur">Email</label>
            <input id="mailUtilisateur" formControlName="mailUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="email" placeholder="user@example.com">
          </div>
        
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="passUtilisateur">Password</label>
            <input id="passUtilisateur" formControlName="passUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="password" placeholder="Min 8 characters">
          </div>
        
          <div class="uk-width-1-1 uk-text-center">
            <button class="uk-button uk-button-primary uk-button-large" type="submit">Sign Up</button>
          </div>
        
          <div class="uk-width-1-1 uk-margin uk-text-center">
            <p class="uk-text-small uk-margin-remove">By signing up, you agree to our terms of service.</p>
          </div>
        </form>
        
        <!-- <form class="uk-text-center" [formGroup]="forme"  (ngSubmit)="onSubmit()">
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="firstname">Fisrt name</label>
            <input id="nomUtilsateur" formControlName="nomUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="text" placeholder="first name">
          </div>
          
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="name">last name</label>
            <input id="prenomUtilisateur" formControlName="prenomUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="text" placeholder="last name">
          </div>
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="loginUtilisateur">Username</label>
            <input id="loginUtilisateur" formControlName="loginUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="text" placeholder="Username">
          </div>
          
          
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="mailUtilisateur">Email</label>
            <input id="mailUtilisateur" formControlName="mailUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="email" placeholder="user@example.com">
          </div>
          <div class="uk-width-1-1 uk-margin">
            <label class="uk-form-label" for="password">Password</label>
            <input id="passUtilisateur" formControlName="passUtilisateur" class="uk-input uk-form-large uk-border-pill uk-text-center" type="password" placeholder="Min 8 characters">
          </div>
          <div class="uk-width-1-1 uk-text-center">
            <button class="uk-button uk-button-primary uk-button-large" type="submit">Sign Up</button>
          </div>
          <div class="uk-width-1-1 uk-margin uk-text-center">
            <p class="uk-text-small uk-margin-remove">By signing up you agree to our terms of service.</p>
          </div>
        </form> -->
      </div>
    </div>
    <div class="uk-width-1-2@m uk-padding-large uk-flex uk-flex-middle uk-flex-center uk-light" data-uk-height-viewport>
      <div class="uk-background-cover uk-background-norepeat uk-background-blend-overlay uk-background-overlay 
        uk-border-rounded-large uk-width-1-1 uk-height-xlarge uk-flex uk-flex-middle uk-flex-center" 
        style="background-image: url(../../../assets/trade.jpg);">
        <div class="uk-padding-large">
          <div class="uk-text-center">
            <h2 class="uk-letter-spacing-small">Welcome Back</h2>
          </div>
          <div class="uk-margin-top uk-margin-medium-bottom uk-text-center">
            <p>Already signed up, enter your details and start cooking your first meal today</p>
          </div>
          <div class="uk-width-1-1 uk-text-center">
            <a href="/login" class="uk-button uk-button-primary uk-button-large">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>